<!-- En está pagina la empresa podrá comprobar el estado de los tickets subidos, y podrán comprobar si están abiertos o cerrados -->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Comprobar tickets</title>
        <link rel="stylesheet" href="{% static 'css/comprobar_tickets.css' %}">
        <link rel="icon" href="{% static 'img/olton.png' %}">

    </head>

    <body>
        
        <h1>Comprobar tickets</h1>

        <div class="tickets">
            <!-- Aqui se van a mostrar todos los tickets de la base de datos -->




        </div>
        
    </body>

</html>
