{% extends 'base.html' %}
{% load static %}


    {% block title %}Iniciar sesión{% endblock %}

    {% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock %}

{% block content %}


    <div class="titulo">
        <h1>Inicia sesión</h1>
        <h4>Introduzca los datos</h4>
    </div>

    <form method="POST" action="{% url 'iniciar_sesion' %}">
        {% csrf_token %}



        <div class="username">
            <p>Nombre de usuario:</p>
            <input type="text" name="username" required>
        </div>

        <div class="password">
            <p>Contraseña:</p>
            <input type="password" name="password" required>
        </div>
 
        <button type="submit">Iniciar sesión</button>

    </form>

    <p>¿No tienes cuenta? <a href="/registro/">Regístrate</a> </p>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var msg = "{{ error|escapejs }}";
                if (msg) {
                    // Mostrar alerta sin interferir con el renderizado de la página
                    alert(msg);
                }
            });
        </script>




{% endblock %}