<!-- En esta páginaa el usuario podrá modificar sus datos de perfil, 
 comprobar los tickets que ha subido con su perfil, y cerrar sesión
 de usuario.
-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Mi cuenta{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}


{% block content %}


<h1>Mi cuenta</h1>

<div class="perfil">
    <div class="datos">
        <h2>Datos personales</h2>
        <p>Nombre de usuario: {{ user.username }}</p>
        <p>Nombre: {{ user.nombre }}</p>
        <p>Empresa: {{ user.empresa }}</p>
        <p>Correo electrónico: {{ user.correo }}</p>
    </div>

    <!-- TICKETS DEL USUARIO
        <div class="tickets">
            <h2>Mis tickets</h2>
            <ul>
                {% for ticket in tickets %}
                <li><a href="/ticket/{{ ticket.id }}/">Ticket #{{ ticket.id }} - {{ ticket.tipo_dispositivo }}</a></li>
                {% empty %}
                <li>No has subido ningún ticket aún.</li>
                {% endfor %}
            </ul> 
        </div>
        -->
    <div class="cerrar-sesion">
        <a href="{% url 'logout' %}"><button>Cerrar sesión</button></a>
    </div>

{% endblock %}