<!-- En esta páginaa el usuario podrá modificar sus datos de perfil, 
 comprobar los tickets que ha subido con su perfil, y cerrar sesión
 de usuario.
-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Mi cuenta{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}


{% block content %}


<h1>Mi cuenta</h1>

<div class="opciones">

    <a href="/datos_usuario" class="mis_datos">
        <div class="contenido_a">
            <p>Mis datos</p>
            <p>></p>
        </div>

    </a>


    <a href="/tickets_usuario" class="mis_tickets">
        <div class="contenido_a">
            <p>Mis tickets</p>
            <p>></p>
        </div>
    </a>
</div>

<div class="cerrar-sesion">
    <a href="{% url 'logout' %}"><button>Cerrar sesión</button></a>
</div>

{% endblock %}