{% extends 'base.html' %}
{% load static %}


{% block title %}Usuarios empresa{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/gestores.css' %}">


{% endblock %}

{% block content %}

<div class="titulo">
    <h1>Usuarios de empresa</h1>
    <button type="button" class="btn-inicio" onclick="window.location.href='/crear_usuario/';">Crear nuevo usuario</button>

</div>

<div class="tabla">
    <table>
        <tr class="cabecera_tabla">
            <th>ID</th>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Empresa</th>
            <th>Correo</th>
            <th>Tipo usuario</th>
        </tr>

        {% for usuario in usuarios %}
        <tr class="fila_tabla" onclick="window.location='/usuario/{{ usuario.id }}/';" style="cursor:pointer;">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.empresa }}</td>
            <td>{{ usuario.correo }}</td>
            <td>{{ usuario.tipo_usuario }}</td>
        </tr>
        {% endfor %}

    </table>
</div>

<div class="botones">
    <button id="volver">Volver</button>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {

        const volverBtn = document.getElementById('volver');

        volverBtn.addEventListener('click', () => {
            window.history.back();
        });

    })

</script>


{% endblock %}
