body {
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    background-color: #f0f0f0;
    width: 80%;
    margin: 0 auto;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

form div p {
    margin: 10px 0px;
    font-weight: bold;
}

.duda {
    flex-direction: column;
}

form button{
    padding: 5px 40px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

